body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-row {
    padding: 2px;
}

form p {
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

input {
    font-size: larger;
}

@media screen and (max-width: 480px) {

    body {
        margin: auto;
    }

    form {
        text-align: center;
    }

    button {
        width: 25%;
    }
}